:root {

    /* Primary Colors */
    --pink: hsl(322, 100%, 66%);

    /* Neutral Colors */
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);

}

body {
    font-family: 'Open Sans', sans-serif;
}

.first-section {
    background-color: var(--very-pale-cyan);
    
    background-image: url(../images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Poppins', sans-serif;
}

.header {
    width: 90%;
    margin: 0 auto;
    padding-top: 1.5rem;
}

/* nav-bar */
.navegation-bar {
    
    position: relative;
    display: flex;
    align-items: center;
    
    width: 95%;
    height: 8vh;
    margin: 0 auto;
}

#logo-img {
    width: 8rem;
    
    display: inline-block;
}

.first-button:link,
.first-button:visited {
    display: inline-block;
    position: absolute;
    
    right: 0;

    text-decoration: none;
    border-radius: 100px;
    padding: 8px 24px;
    background-color: white;
    color: var(--very-dark-cyan);
    font-weight: bold;

    box-shadow: 0px 3px 10px 0 rgb(0,0,0, .2);

}

/*intro-text*/

.text-box {
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
}

.titulos {
    display: block;
    font-size: 1.7rem;
    text-align: center;
    line-height: 1.7;
}

.titulo-2 {
    font-size: 1.6rem;
}

.text-box p {
    display: flex;
    text-align: center;
    
    font-size: 1.15rem;
    
}

.pink-button {
    display: block;
    text-align: center;
    margin: 2rem auto 3rem auto;

    text-decoration: none;
    border-radius: 100px;
    padding: 12px 30px;
    background-color: var(--pink);
    color: white;
    font-weight: bold;
    width: 60%;
    font-size: 0.8rem;

    box-shadow: 0px 3px 10px 0 rgb(0,0,0, .2);


}

.img-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.first-img {
    width: 100%;
    height: auto;
}


@media (min-width: 1024px) {

    body {
        font-size: 18px;
    }

   
     .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "text img" ;          
     }
   
    
    .text {
        grid-area: text;
        display: block;
        text-align: left;
    }


    .text-box p{
        text-align: left;
        font-size: 1.2rem;
        line-height: 1.2;
    }

    .titulos {
        text-align: left;
        line-height: 1.5;
        font-size: 2rem;
        
    }


    .pink-button {
        text-align: center;
        margin-left: 0;
        width: 50%;
        padding: 20px 20px;
        font-size: 1rem;
    }

    .img-box {
        width: 100%;
        margin-top: 2.5rem;
    }

    .first-button {
       width: 20%;
       text-align: center;
       
    }

    #logo-img {
        width: 12rem;
    }
}
