:root {

    /* Primary Colors */
    --pink: hsl(322, 100%, 66%);

    /* Neutral Colors */
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);

}

/*---------->>> GLOBAL <<<-----------*/

body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    color: var(--very-dark-cyan);
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    
}

p {
    
    color: var(--very-dark-cyan);
}

a {
    font-weight: 600;
}

img {
    max-width: 100%;
}


/*---------->>> ESTILOS GERAIS <<<-----------*/

.container {
    max-width: 90%;
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    
    
}

.flex {
    display: flex;
    align-items: center;
}

.flex > div {
    flex: 1;
}

.header {
    background-image: url(../images/bg-hero-desktop.svg);
    background-size: cover;
    background-position: center;
    background-color: var(--very-pale-cyan);
    padding: 40px 0;
}

.header-nav {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.nav-button {
    border-radius: 50px;
    background-color: white;
    border: none;
    font-size: 16px;
    padding: 15px 60px;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.card {
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    margin: 40px 0;
    padding: 60px;
    
}
 
.card  img {
    width: 80%;
}

.box {
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    padding: 60px;
    display: inline-block;
    background-color: white;
   margin-top: 50px;
    z-index: -1;
    transform: translateY(30%);
    

}

.center {
   text-align: center;
   
}

footer {
    background-color: var(--very-dark-cyan);
    color: white;
    padding: 180px 0 60px;
    
}

footer ul {
    padding: 0;
    list-style-type: none;
}

footer ul li {
    margin-bottom: 20px;
}

footer .icon {
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    text-decoration: none;
}