:root {
    /* primary color */ 
     /*font-family: 'Poppins', sans-serif;*/
    --violet-primary-color: hsl(257, 40%, 49%);
    --violet-secundary-color: hsl(257, 50%, 40%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* geral */ 
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: var(--violet-primary-color);
    background-image: url(./images/bg-desktop.svg);
} 

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;       
}

.header {
    height: 15vh;
    position: relative;
}

.bg-image {
    height: 100vh;
}

.logo-img {
    height: 40px;
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}


.images {
    position: absolute;
    left: 50px;
    top:130px;
}
.illustration-mockups {
    height: 70vh;
}

main {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "images" "intro";
}

.intro {
    position: absolute;
    top: 160px;
    left: 750px;
    right: 70px;

}

.h1-primary {
    display: block;
    font-size: 40px;
    color: seashell;
}

.h1-sub {
    display: block;
    font-size: 40px;
    color: seashell;
    line-height: 1.8;
    margin-bottom: 13px;
}

.intro p {
    color: seashell;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
    
}

.register-button {
    height: 100px;
}

.button {
    width: 30%;
    height: 42px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 2px 10px 0px var(--violet-secundary-color);
    color: var(--violet-primary-color);
    transition: all .5s ease-in-out
    
}

.button:hover {
    cursor: pointer;
    transform:scale(1.2) perspective(1px);
    
} 



